
*, *:before, *:after { 

  margin:0;
  padding:0;
  font-family: Arial,sans-serif;
}
 

a{
  text-decoration: none;
}
 


a.links{
  display: none;
}
.content{

  width: 500px;
  min-height: 560px;    
  margin: 0px auto;
  position: relative;   
}
h1{

  font-size: 48px;
  color: #6C9709
  padding: 2px 0 10px 0;
  font-family: Arial,sans-serif;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}
h1:after{
  content: ' ';
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 10px;
  background: -webkit-linear-gradient(left, #6C9709 0%,#6C9709 20%,#6C9709 53%,#6C9709 79%,#6C9709 100%); 
  background: linear-gradient(left, #6C9709 0%,#6C9709 20%,#6C9709 53%,#6C9709 79%,#6C9709 100%); 
}
p{
  margin-bottom:15px;
}
 
.content p:first-child{

  margin: 0px;
}
 
label{
  color: #000000;
  position: relative;
}


::-webkit-input-placeholder  {
  color: #000000;
  font-style: italic;
}
 
input:-moz-placeholder,
textarea:-moz-placeholder{
  color: #6C9709;
  font-style: italic;
}
input {
  outline: none;
}
 #fundo{

	 position: absolute;
	 width: 100%;
	 height: 100%;
}


input:not([type="checkbox"]){
  width: 95%;
  margin-top: 4px;
  padding: 10px;    
  border: 1px solid #6C9709;
 
  -webkit-border-radius: 3px;
  border-radius: 3px;
 
  -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
 
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
 

input[type="button"]{
  width: 100%!important;
  cursor: pointer;  
  background: #6C9709;
  padding: 8px 5px;
  color: #fff;
  font-size: 20px;  
  border: 1px solid #fff;   
  margin-bottom: 10px;  
  text-shadow: 0 1px 1px #6C9709;
 
  -webkit-border-radius: 5px;
  border-radius: 5px;
 
  transition: all 0.2s linear;
}
 

input[type="submit"]:hover{
  background: #6C9709;
}
.link{
  position: absolute;
  background: #A5C700;
  color:#000000; 
  left: 0px;
  height: 20px;
  width: 440px;
  padding: 17px 30px 20px 30px;
  font-size: 16px;
  text-align: right;
  border-top: 1px solid #6C9709;
 
  -webkit-border-radius: 0 0  5px 5px;
  border-radius: 0 0  5px 5px;
}
 
.link a {
  font-weight: bold;
  background: #A5C700;
  padding: 6px;
  color: #000000;  margin-left: 10px;
  border: 1px solid #A5C700;
 
  -webkit-border-radius: 4px;
  border-radius: 4px;  
 
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s  linear;
}
 
.link a:hover {
  color: #6C9709;
  background: #fff;
  border: 1px solid #6C9709;
}
#cadastro, 
#login{
  position: absolute;
  top: 0px;
  width: 88%;   
  padding: 18px 6% 60px 6%;
  margin: 0 0 35px 0;
  background: #f7f7f7;
  border: 1px solid rgba(147, 184, 189,0.8);
   
  -webkit-box-shadow: 5px;
  border-radius: 5px;
   
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
 
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}
/* Efeito ao clicar no botão ( Ir para Login ) */
#paracadastro:target ~ .content #cadastro,
#paralogin:target ~ .content #login{
  z-index: 2;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
 
  -webkit-animation-delay: .1s;
  animation-delay: .1s;
}
 
/* Efeito ao clicar no botão ( Cadastre-se ) */
#registro:target ~ .content #login,
#paralogin:target ~ .content #cadastro{
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
}

/*fadeInLeft*/
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
 
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
 
/*fadeOutLeft*/
@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
}
 
@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-20px);
  }
}

/* Parte do menu*/

#lateral {
  padding:0 50px 0 0;
  -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
  font-size:1.2em;
  background:#6C9709;
  background-image: -moz-linear-gradient(135deg, #6C9709, #6C9709);
     background-image: -webkit-linear-gradient(135deg, #6C9709, #6C9709);
      background-image: -o-linear-gradient(135deg, #6C9709, #6C9709 );
       background-image: -ms-linear-gradient(135deg, #6C9709, #6C9709);
        background-image: linear-gradient(135deg, #6C9709, #6C9709));
  height:100%;
  overflow:hidden;
  width:370px; 
  position:fixed;
  top:0;
  left:-320px;
  }

#lateral:before{
  z-index:1000;
  content: url(MenuLetra.png);
  font-size:4em;
  color:white;
  left:10px;
  top:45px;
  position: fixed;
  padding: 0;
  }

  #lateral:before {
  z-index:1000;
  content: url(menu.png);
  font-size:4em;
  color:white;
  left:20px;
  top:10px;
  position: fixed;
  padding: 0;
  }

#lateral:hover:before, #lateral:focus:before {
left:-500px
  }
#lateral:hover, #lateral:focus,  #lateral:active  {
  overflow-y:scroll;
  -moz-transform: translate(320px, 0);
    -webkit-transform: translate(320px, 0);
      -o-transform: translate(320px, 0);
        transform: translate(320px, 0);
  padding-right:0;
  } 
  #lateral .box {
  list-style-type:none;
  margin-bottom:1em;;
  padding-bottom:1em;
  }
#lateral h1 {
  display:inline-block;
  font-weight:bold;
  font-size:1.6em;
  font-style:arial;
  padding-bottom:0.2em;
  margin: 2em 0 2em 0.81em;
  color:rgb(255,255,255);
  }


#menu {
  font-family: 'Arial';
    font-size: 15pt;
  position:relative;
  margin:1em 0 1em -1em;
  padding:0;
  }
#menu li {padding:0; margin:0;}
#menu li a,  #menu li a:link {
  font-size:1.2em;
  color:#000000;
  text-decoration: none;
  padding: 0.8em 0 0.8em 1em;
  display: block;
  -moz-transition: all 1.2s ease;
      -webkit-transition: all 1.2s ease;
        -o-transition: all 1.2s ease;
          transition: all 1.2s ease;
  }

  .T1{
    text-align: center;
}

.T2{
    text-align: center;
}
  

#menu li a:hover {
  color:#4E660E;
  background-color:#fffaf0;
  -moz-transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
  }
  @media (max-width: 500px) {
body {margin-left:0;background-size:100% 28em!important;}
#lateral {
  padding:0;
  -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
  font-size:1.2em;
  height:100%;
  overflow:auto;
  width:100%; 
  position:static;
  top:0;
  left:0;
  }
#lateral:before {
  z-index:1000;
  width:0;
  text-align:center;
  content: "";
  font-size:0;
  color:white;
  position:static;
  top:0;
  left:0;
  display:inline-block; 
  }
#lateral:hover, #lateral:focus {
  overflow:scroll;
  -moz-transform: none;
    -webkit-transform: none;
      -o-transform:none;
        transform:none;
  }
#menu li a {border-bottom:1px solid #ccc;}
#menu li:first-child a {border-top:1px solid #ccc;} 
}